body {
  font-family: "Source Sans Pro", sans-serif;
  color: #d8d8d8;
  font-size: 30px;
  background-color: #1a1a1a;
  background-image: url("tile.png");
  margin: 0;
}

/* fonts */
h1 {
  font-weight: 300;
  font-size: 1.9em;
  margin-top: 25%;
}

h3 {
  margin-top: 0px;
  font-weight: 300;
}

p {
  font-weight: 400;
  font-size: 0.9em;
}

ul {
  padding-left: 0;
}

.content {
  width: 50%;
  max-width: 600px;
  margin: auto;
}

@media (max-width: 768px) {
  .content {
    width: 80%;
  }
}

.links {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 30px;
  max-width: 100%;
  margin: auto;
}

li {
  text-align: left;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
}

a,
button {
  font-family: "Source Sans Pro", sans-serif;
  background: none;
  border: none;
  font-size: 38px;
  text-decoration: none;
  color: darkorange;
  cursor: pointer;
  padding: 0;
  text-align: left;
}

a:not([disabled]):hover,
button:not([disabled]):hover,
a:not([disabled]):focus-visible,
button:not([secondary]):focus-visible,
.underline {
  text-decoration: underline;
  outline-offset: 0;
  outline: none;
}

/* about */
.hidden {
  opacity: 0;
  visibility: hidden;
}

.icon.hidden {
  opacity: 0;
  visibility: hidden;
}

.icon.visible {
  opacity: 1;
  visibility: visible;
}

.link-with-icon a .icon {
  margin-left: 10px;
  position: absolute;
  height: 1.5vh;
}

.link-with-icon a:hover .icon, .link-with-icon a:hover .icon {
  opacity: 1;
  visibility: visible;
}

.face {
  display: flex;
  border-radius: 12px;
  image-orientation: from-image;
  box-shadow: -14px 21px 28px -2px rgba(135, 135, 135, 0.34);
  width: min(400px, 80%);
  height: auto;
  margin: 30px;
  margin-bottom: 15%;
}

.description {
  margin-top: 0px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  margin-bottom: 15px;
  width: 90%;
  max-width: 350px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 12px;
  font-size: 14px;
}


/* reachoutcomponent */
textarea.form-input {
  height: 100px;
  resize: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8vh;
}

.submit-button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #ddd;
}

.submit-button:disabled {
  background-color: #f2f2f2;
  color: #cccccc;
  cursor: not-allowed;
}

.thank-you-message {
  color: white;
  font-size: 18px;
}

.reachout {
  margin-top: 20px;
}

/* submenucomponent */
.section {
  transition: opacity 500ms ease-in-out;
}

.submenu {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  margin-left: 35px;
  margin-bottom: 15px;
  transition: max-height 500ms ease-in-out, opacity 500ms ease-in-out, visibility 0s linear 500ms;
}

.submenu.show, .about.show {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  transition: max-height 500ms ease-in-out, opacity 500ms ease-in-out;
}

.submenu.hide, .about, .about.hide {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 500ms ease-in-out, opacity 500ms ease-in-out, visibility 0s linear 500ms;
}

.about.show {
  max-height: 2000px;
}